{% extends "base.html" %}

{% block world %}
	- <a href="{% url 'country' %}">Country</a> <br>
	- <a href="{% url 'province' %}">Province</a> <br>
<!--
	- <a href="{% url 'region' %}">Region</a> <br>
	<br>
-->
	<br>
{% endblock %}


{% block mainframe %}
{% for country in countries %}	
	{% if forloop.first %}
	<p>
		<table style="padding: 3px;">
			<tr style=" text-align: center;">
				<th>Name:</th>
				<th>Approved:</th>
			</tr>
	{% endif %}
			<tr>
				<td>{{ country.name }}</td>
				<td style=" text-align: center;">{{ country.approved }}</td>
				<td><a href="{% url 'edit_country' country.id %}">edit</a><br></td>
				<td><a href="{% url 'delete_country' country.id %}">delete</a><br></td>
			</tr>
	{% if forloop.last %}
		</table>
	</p>
	{% endif %}
{% endfor %}
<a href="{% url 'create_country' %}">Create Country</a>
{% endblock %}

