{% extends "base.html" %}

{% block npcs %}
	- <a href="{% url 'faction' %}">Faction</a> <br>
- <a href="{% url 'npc_guild' %}">NPC Guild</a> <br>
	<br>
{% endblock %}

{% block mainframe %}
<div>
	
	{% if form_url == "create" %}
		<h2>Create a new faction</h2>
	{% elif form_url == "edit" %}
		<h2>Edit Faction</h2>
	{% endif %}
		
		<form action="" method="post">{% csrf_token %}
			<table>
			{{ faction_form.non_field_errors }}
			{% for field in faction_form %}
				<tr>
					<td>{{field.label}}</td> <td> {{field}} </td> <td> {{field.errors}}</td>
				</tr> 
			{% endfor %}
				<tr>
					<td></td>
					{% if form_url == "create" %}
						<td style="float: right;"><input type="submit" formaction="{% url 'create_faction' %}" value="add faction" /></td>
					{% elif form_url == "edit" %}
						<td style="float: right;"><input type="submit" formaction="{% url 'edit_faction' faction_id %}" value="save" /></td>
					{% endif %}
				</tr>
			</table>
		</form>
	
</div>
{% endblock %}

