{% load static %}
<DOCTYPE html>
<html lang='en'>
<head>
	<title>Buahto {% block tittle %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
</head>



<body>
	<div id="page">
	
	<div id="sidebar">
		<!-- Wordt ook template -->
		CREATOR
		<br><br>
		
		<a href="{% url 'world' %}">World</a><br>
		{%block world %} {% endblock %}
		<a href="{% url 'npc' %}">NPCs</a><br>
		{%block npcs %} {% endblock %}
		<br><br><br>
		<center>
			<a href="{% url 'logout' %}">Logout</a>
		</center>
	</div>
	<div id="content">
		{% block mainframe %}
		
		{% endblock %}
	</div>
</body>
</html>
